@{
    string ControllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    string ActionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    //Now we set the active links or sublinks
    string HomeLink = ActionName == "index" ? "active" : "";
    string AboutLink = ActionName == "about" ? "active" : "";
    string ContactLink = ActionName == "contact" ? "active" : "";
    string AspNetLink = ControllerName == "Home" && ActionName == "gettingstarted" ? "active" : "";
    //You get the idea
    //Use the controller name if link has drop downs for the parent and action name for the selected child
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/highlight")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@HomeLink"><a href="@Url.Action(actionName:"Index",controllerName:"Home")">Home</a></li>
                    <li class="@AboutLink">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="@ContactLink">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="@AspNetLink"><a href="@Url.Action(actionName:"GettingStarted",controllerName:"Home")">Getting Started</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; 2015 - @DateTime.Now.Year My Template</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highlight")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
